h3{
    font-size: 1.3rem;
    font-weight: 700;
}
td{
    font-size: 1rem;
}
.logo{
    width: 40px;
    height: 40px;
}
.footer {
  left: 0;
  bottom: 0;
  color: inherit;
  background-color: lightgrey;
  width: 100%;
  opacity: .8;
  text-align: center;
}

    